img{
    object-fit: contain;
    height: 100px;
    width: 100px;
padding: 49px 0px 49px 0px;
animation: rotate infinite 2.5s linear;
/* transform-origin: 2px 2px; */
}
.RamDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(28, 83, 35);

    
}
@keyframes rotate{
from{
    transform: rotate(0deg);
}
to{transform: rotate(360deg);}

}
img:hover{
    height: 300px;
    width: 300px;
    animation: none;
    transition: 0.5s;
    transition-timing-function: ease-in;
}
@keyframes funny{
    to{
        transform: scale(1,1);
    }
}